.button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.small {
  font-size: 12px;
}
.medium {
  font-size: 16px;
}
.large {
  font-size: 20px;
}

.primary {
  background-color: var(--primary-color);
}

.secondary {
  background-color: var(--secondary-color);
}

.flat {
  background-color: transparent;
  color: var(--primary-color);
  &:hover {
    color: var(--primary-alt);
  }
}

.outlined {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  &:hover {
    background-color: var(--primary-color);
    color: var(--text-color-inverted);
  }
}

.solid {
  background-color: var(--primary-color);
  color: var(--text-color-inverted);
  &:hover {
    background-color: var(--primary-alt);
  }
}

.disabled {
  background-color: #f8f9fa;
  color: var(--secondary-color);
  cursor: not-allowed;
}

.disabled:hover {
  background-color: #f8f9fa;
}
